.AccountSettings form{
    background: opacity 0.5;
    background-color: #0C0E12;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #6D9E12;
    width: 30%;
}

.form-control {
    background-color: #0C0E12;
    color: #6D9E12;
    border-bottom: solid grey;
}