$scifiGreen: #6D9E12;

.myAccount{
    margin: 150px;
    font-size: 20px;
}

.Account{
    //TODO Back Ground Image
}

.accountBtn{
  background-color: #282c34;
  font-weight: 600;
  color: $scifiGreen;
  &:hover {
    transition: 0.5s ease-in-out;
    font-weight: 600;
    font-weight: 600;
    background-color: $scifiGreen;
    color: black;
  }
}

.accountBtn a{
    color: aliceblue;
&:hover{
    color: black;
    }
}

.accountDeleteBtn a{
    color: red;
&:hover{
    color: black;
    }
}

.accountDeleteBtn{
    background-color: #282c34;
    font-weight: 600;
    color: red;
    &:hover {
      transition: 0.5s ease-in-out;
      font-weight: 600;
      font-weight: 600;
      background-color: red;
      color: black;
    }
  }


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: $scifiGreen;
    color: black;
}

